
<nav class="navbar sticky-top navbar-expand-lg navbar-fixed-top bg-light">
  <div class="container">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'allImages' %}"><img src="https://cdn2.iconfinder.com/data/icons/harmonicons-04/64/instagram-512.png" alt="" style="width:30px;height:30px;"></i> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    <a class="navbar-brand" style="color:black" href="{%url 'allImages' %}">Instagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="navbar-form" role="search" action="">
            <div class="input">
                <input type="text" class="form-control" placeholder="search" name="search_profile">
            </div>
            </form>
    </div>
    <div class="col-sm-6 col-md-6">
        
      </div>
    
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'allImages' %}"><img src="http://www.clker.com/cliparts/f/n/o/m/6/C/transparent-heart.svg" alt="" style="width:45px;height:30px;"></i></a>
        </li>
            {% if user.is_authenticated %}
              <li class="dropdown">
                <!-- <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a> -->
                      <a class="nav-link" href="{%url 'allImages' %}" data-toggle="dropdown" role="button"><img src="https://image.flaticon.com/icons/png/128/118/118781.png" alt="" style="width:30px;height:30px;"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="">Home</a>
                  </li>
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>
            {% endif %}
          
          
      </ul>

    </div>
  </nav>
