<nav class="navbar sticky-top navbar-expand-lg navbar-fixed-top bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'allImages' %}"><img src="https://cdn2.iconfinder.com/data/icons/harmonicons-04/64/instagram-512.png" alt="" style="width:30px;height:30px;"></i> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    <a class="navbar-brand" style="color:black" href="{%url 'allImages' %}">Instagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'allImages' %}"><img src="http://www.clker.com/cliparts/f/n/o/m/6/C/transparent-heart.svg" alt="" style="width:45px;height:30px;"></i></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{%url 'allImages' %}"><img src="https://images.vexels.com/media/users/3/147103/isolated/lists/e9bf9a44d83e00b1535324b0fda6e91a-instagram-profile-line-icon.png" alt="" style="width:40px;height:35px;"></i></a>
          </li>
      </ul>

  </nav>
