<nav class="navbar sticky-top navbar-expand-lg navbar-fixed-top bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'allImages' %}"><img src="https://cdn2.iconfinder.com/data/icons/harmonicons-04/64/instagram-512.png" alt="" style="width:30px;height:30px;"></i> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    <a class="navbar-brand" style="color:black" href="{%url 'allImages' %}">Instagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
 

    </div>
  </nav>
