body {
    background-color:#fafafa;
  }
  .profile-pic {
    /* box-shadow: 0px 4px 6px 2px lightgrey; */
    border-radius: 50%;
    max-width: 80%;
  }
  
  .work-item-row {
      padding: 1% 0;
      margin-bottom:5px;
  }
  .row-tools {
    padding: 50px 0;
  }
  
  .about-side {
      position:fixed;
      padding-top: 20%;
  }

.page-footer{
    background-color:#fafafa;
}
.footer{
    color: rgba(0, 0, 0, 0.295);
}
.navbar-brand{
    font-family: 'Cookie', cursive;
    font-size: 45px;
}

