{% extends 'all_posts/base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    {% if profile.user %}
    <div class="col-md-4">
      <img src="{{profile.profile_pic.url}}"  class = "radius" alt="Image" class="img-responsive">
    </div>
    <div class="col-md-4">
      <h2>{{profile.user}}</h2>
      <h2>{{profile.bio}}</hz>

    </div>
    {% else %}
    </p> No Profile Details found </p>
    {% endif %}
  </div>
  
  <div class="row">
    <h2 class="text-center"> Uploaded Photo</h2>
    {% for items in image %}
    <div class="col-md-4">
      <a href="{% url 'image' items.id %}"><img src="{{items.image.url}}" class="img-responsive" alt="Image"></a>
    </div>
    {% endfor%}


  </div>

</div>


{% endblock %}